section {
    padding: 0;
    width: 100%;
    height: 600px;
}

.empty {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50pt;
}

/* -------------------------------------------- */
/* SECTION 1 */
/* -------------------------------------------- */
.back-cards {
    background-color: #252525;
    border-top: 1px solid #44D62C;
    border-bottom: 1px solid #44D62C;
}


/* -------------------------------------------- */
/* SECTION 2 */
/* -------------------------------------------- */

.sec25 {
    padding: 80px 0;

}



/* -------------------------------------------- */
/* SECTION 3 */
/* -------------------------------------------- */
.sec-dark,
.sec-light {
    z-index: 0;
    position: relative;
    padding: 80px 0 !important;

    background-repeat: no-repeat;
    background-attachment: ;
    background-size: cover;
    background-position: 50% 50%;
}

.sec-dark p,
.sec-dark h3 {
    color: #fff;
}

.sec-light p,
.sec-light h3 {
    color: #252525;
}

/* -------------------------------------------- */
/* SECTION 3 */
/* -------------------------------------------- */


.section-contact {
    padding: 10% 0;
    position: relative;

    text-align: center;
    height: auto;

    min-height: 538px;
    padding: 31px;
    background-color: rgba(0, 0, 0, 0.51) !important;
    width: 70%;
}

.section-contact h2 {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}
